/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #343a40;
}

.card-container {
  width: 100%;
  height: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  background-color: #3A69D2;
}

.heading p {
  font-size: .9rem;
  font-weight: 400;
}

.sub-heading {
  margin-bottom: 1em;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: auto;
  padding: 3em 2em;
  color: #D5D4D8;
  background-color: #1F2937;
}

button {
  cursor: pointer;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .75em;
}

.button-group button {
  width: 10em;
  height: 3em;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border: .2em solid #fff;
  border-radius: .5em;
  color: #4a4e74;
  background-color: #D1D4F4;
}

.send-button button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: 0;
  border-radius: .5em;
  color: #fff;
  background-color: #3A69D2;
}

.tasks-and-total,
.notes-and-total-amount {
  display: flex;
  justify-content: space-between;
}

.tasks-and-total {
  border-bottom: 1px solid gray;
  min-height: 150px;
}

.notes-and-total-amount {
  margin: 1em 0 0;
  border-bottom: 0;
}

.notes-and-total-amount > *{
  flex-basis: 100%;
}

.tasks-and-total > *,
.notes-and-total-amount > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #D5D4D8;
}

.note {
  font-size: .75rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
}

.total-amount {
  align-items: flex-end;
}

.task,
.price {
  margin-bottom: .5em;
  font-size: 1.25rem;
  color: #f5f5f5;
}

.task {
  text-transform: capitalize;
}

.remove-task-button {
  margin-left: .75em;
  padding: .75em 1em 0 0;
  font-size: .5rem;
  border: 0;
  color: #D5D4D8;
  background: none;
}

.price-total {
  font-size: 2rem;
  color: #f5f5f5;
}

.currency-sign{
  color: #918e9b;
}

.icon-envelope {
  height: 14px;
  margin-right: .5em;
}


/* MEDIA QUERIES */
@media screen and (min-width: 550px) {
  .main-container {
    align-items: flex-start;
    height: 100vh;
    padding-top: 5em;
  }

  .card-container {
    width: 575px;
    height: 700px;
  }
  
  .heading {
    border-radius: .5em .5em 0 0;
  }
  
  .main-content {
    padding: 3em;
    border-radius: 0 0 .5em .5em;
  }

  .notes {
    flex: 2;
  }

  .total-amount {
    flex: 1;
  }
}